<h2>Upper Right Co-ordinates are: {{upper_x}}, {{upper_y}}</h2>

<!-- List of Trainees-->
<div *ngIf="trainees.length > 0">
  <table>
    <thead>List of Trainees</thead>
    <tr>
      <th>Name</th>
      <th>X Co-ord</th>
      <th>Y Co-ord</th>
      <th>Cardinal Position</th>
      <th>Left</th>
      <th>Move</th>
      <th>Right</th>
      <th>Bulk Commands</th>
    </tr>
    <tr *ngFor="let tr of trainees">
      <td>{{tr.tr_name}}</td>
      <td>{{tr.tr_x}}</td>
      <td>{{tr.tr_y}}</td>
      <td>{{tr.tr_cp}}</td>
      <td><button (click)="onTurnLeft(tr)">Turn Left</button></td>
      <td><button (click)="onMoveForward(tr)">Move Forward</button></td>
      <td><button (click)="onTurnRight(tr)">Turn Right</button></td>
      <td><input name="bulkCommands" ngModel #bulkCommands="ngModel" (change)="bulkCommandsAction(bulkCommands.value)"></td>
    </tr>
    <tfoot>*Bulk Commands are fired on change of text field</tfoot>
  </table>
</div>
<br>
<div>
  <button (click)="onNavigateToHome()">Back to Home</button>
</div>