<h2>Upper Right Co-ordinates are: {{upper_x}}, {{upper_y}}</h2>

<!-- List of Trainees-->
<div *ngIf="trainees.length > 0">
  <div> List of Trainees
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>X Co-ord</th>
      <th>Y Co-ord</th>
      <th>Cardinal Position</th>
      <th>Left</th>
      <th>Move</th>
      <th>Right</th>
      <th>Bulk Commands</th>
    </tr>
    <tr *ngFor="let tr of trainees">
      <td>{{tr.tr_name}}</td>
      <td>{{tr.tr_x}}</td>
      <td>{{tr.tr_y}}</td>
      <td>{{tr.tr_cp}}</td>
      <td>
        <button (click)="onTurnLeft(tr)">Turn Left</button>
      </td>
      <td>
        <button (click)="onMoveForward(tr)">Move Forward</button>
      </td>
      <td>
        <button (click)="onTurnRight(tr)">Turn Right</button>
      </td>
      <td>
        <input name="bulkCommands" ngModel #bulkCommands="ngModel" (change)="onBulkCommandsAction(tr, bulkCommands.value)">
      </td>
    </tr>
  </table>
  <br>
  <h4>Notes</h4>
  <ul>
    <li>Bulk Commands are fired on change of text field</li>
    <li>Trainee Position(x, y) will not change when Upper(x, y) is reached</li>
    <li>If trainee(x, y) are greater than Upper(x, y), then trainee assumes the Upper co-ordinates</li>
  </ul>
</div>
<br>
<div>
  <button (click)="onNavigateToHome()">Back to Home</button>
</div>