<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p>
  home works!
</p>
<div>
  <h2>Enter Upper Right Co-ordinates</h2>
  <div>
    <label for="upper_x_coord">Upper X Co-ord</label>
    <input name="upper_x_coord" ngModel #upper_x_coord="ngModel">
  </div>
  <div>
    <label for="upper_y_coord">Upper Y Co-ord</label>
    <input name="upper_y_coord" ngModel #upper_y_coord="ngModel">
  </div>

</div>
<div>
  <button (click)="onLaunchCalibrate(upper_x_coord.value, upper_y_coord.value)">Launch Calibration</button>
</div>